*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}
h1,h3 {
  text-align:center;
}
h1 {
  font-style:italic;
}
#container {
  background-color: #00f;
  padding: 10px;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.post {
  background-color: #f00;
  height: 350px;
  width: 350px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.post img {
  height: 100%;
  max-width:none;
  position: absolute;
  top: 0;
}
nav {
  height: 100px;
  background-color: #0f0;
}
body {
  margin: 0px
}
img {
  display: block;
}
.post h2 {
  position: absolute;
  width: 100%;
  text-align: center;
}
