*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}
body {
  margin: 0px
}
img {
  display: block;
}
h1,h3 {
  text-align:center;
}
h1 {
  font-style:italic;
}
ul {
  list-style-type: none;
}
li a:hover {
    background-color: #111;
}
/*comment*/


nav {
  position:fixed;
  height: 100px;
  width: 100%;
  background-color: #0f0;
  z-index: 1;
  top: 0;
}
nav li {
  display: inline;
}
nav a {
    padding: 8px;
    background-color: #dddddd;
}
#container {
  background-color: #00f;
  padding: 10px;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.post {
  background-color: #f00;
  height: 350px;
  width: 350px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.post img {
  height: 100%;
  max-width:none;
  position: absolute;
  top: 0;
}
.post h2 {
  position: absolute;
  width: 100%;
  text-align: center;
}
