h1,h3 {
  text-align:center;
}
h1 {
  font-style:italic;
}
#container {
  width: 500px
}
.post {
  text-align: justify;
}
.image {
  display: block;
  width: 300px;
margin-left: auto;
margin-right: auto;
}
